# =========================
# Node / NPM
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Playwright
# =========================
playwright-report/
test-results/
.vscode-test/

# =========================
# Cucumber / Reports
# =========================
src/reports/cucumber-report.json
src/reports/html/
src/reports/report/
src/reports/screenshots/
src/reports/videos/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
*.local

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/
*.iml

# =========================
# Coverage
# =========================
coverage/

# =========================
# Temporary files
# =========================
tmp/
temp/
